<form asp-action="Index">
    <p>
        <label>he so A:</label>
        <input type="text" name="heSoA">
    </p>
     <p>
        <label>he so B:</label>
        <input type="text" name="heSoB">
    </p>
    <p>
        <label>he so C:</label>
        <input type="text" name="heSoC">
    </p>
    <p>
        <input type="submit" value="Luu">
    </p> 
</form>
<h3>@ViewBag.mess</h3>