<form asp-action="mem">
    <p>
        <label>Nhập chuỗi:</label>
        <input type="text" name="strInput">
    </p>
     <p>
        <input type="submit" value="mem">
    </p> 
</form>
<h2>@ViewBag.d </h2>