<form asp-action="memi">
    <p>
        <label>Nhập chuỗi:</label>
        <input type="text" name="strInput">
    </p>
     <p>
        <input type="submit" value="memi">
    </p> 
</form>
<h2>@ViewBag.e </h2>