<form asp-action="Viethoa">
    <p>
        <label>Nhập chuỗi:</label>
        <input type="text" name="strInput">
    </p>
     <p>
        <input type="submit" value="Viet hoa">
    </p> 
</form>
<h2>@ViewBag.b </h2>