<form asp-action="Viethoakytudau">
    <p>
        <label>Nhập chuỗi:</label>
        <input type="text" name="strInput">
    </p>
     <p>
        <input type="submit" value="Viet hoa ky tu dau">
    </p> 
</form>
<h2>@ViewBag.c </h2>