<form asp-action="Xulychuoi">
    <p>
        <label>Nhập chuỗi:</label>
        <input type="text" name="strInput">
    </p>
     <p>
        <input type="submit" value="Xu ly chuoi">
    </p> 
</form>
<h2>@ViewBag.a </h2>