<h2> New Create</h2>
<form asp-action="Create">
    <label>Age</label>
    <input type="Number" name="Age" >
    <br>
    <label>DIA CHI</label>
    <input type="String" name="Address" >
    <br>
    <label>So DT</label>
    <input type="String" name="PhoneNumber" >
    <br>
    <input type="submit" value="tim kiem">
</form>
<h3>Thong bao thong tin sinh vien @ViewBag.thongtin</h3>

