 
<table class="table border">
    <tr>
        <th>
            <label>Age</label>
        </th>
        <th>
            <label>Address</label>
        </th>
        <th>
            <label>PhoneNumber</label>
        </th>
    </tr>
    @foreach (var item in   ViewData["Person"] as List<Person> )
        
    {
        <tr>
            <td>@item.Age</td>
            <td>@item.Address</td>
            <td>@item.PhoneNumber</td>

        </tr>
        
    }

</table>
 