<h2> New Create</h2>
<form asp-action="Create">
    <label>Ma Nhan Vien</label>
    <input type="Number" name="EmployeeID" >
    <br>
    <label>Ten Nv</label>
    <input type="text" name="EmployeeName" >
    <br>
    <label>Tuoi</label>
    <input type="Number" name="Age" >
    <br>
    <input type="submit" value="tim kiem">
</form>
<h3>Thong bao thong tin sinh vien @ViewBag.thongtinNhanVien </h3>