<h2> New Create </h2>
<form asp-action="Create">
    <label>Student ID</label>
    <input type="number" name="StudentID">
    <br>
    <label>StudnetName</label>
    <input type="text" name="StudentName">
    <br>
     <label>Age</label>
    <input type="number" name="Age">
    <br>
    <input type="submit" value="tim kiem">
</form>
<h3>Thong bao thong tin sinh vien </h3>